.App {
  text-align: center;
}

form{
  padding: 0 2.5rem 0 2.5rem;
}

h1{
  font-size: 6vw;
  font-family: 'Pacifico', cursive;
}

p{
  font-size: 3.5vw;
  font-family: 'Dancing Script', cursive;
}

button {
  background: transparent;
  border: none;
  outline: transparent;
  transition: opacity 0.5s ease-in-out;
}

button svg {
  width: 10vw !important;
  height: auto !important;
  color: #e36387;
  cursor: pointer;
  animation-name: beat;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  -webkit-filter: drop-shadow(0 0 2rem #ffeb99);
  filter: drop-shadow(0 0 2rem #ffeb99);
}

@keyframes beat{
  from {
    transform: scale(1.0);
  }
  to {
    transform: scale(0.8);
  }
}